<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/main.js" defer></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/media/icon.png" type="image/png">

    <title>Online Game</title>
</head>

<body>
    <section class="ui" id="hud">
        <span>❤️: <span id="h"></span>%</span>
        <span>X: <span id="x"></span></span>
        <span>Y: <span id="y"></span></span>
        <span>💵: $<span id="m"></span></span>
    </section>
    <section class="ui" id="settings">
        <span>Name: <input type="text" id="n"></span>
        <span>Color: <input type="color" id="rgb"></span>
    </section>
    <section class="ui" id="chat">
        <div id="messages"></div>
        <div>
            <input type="text" id="message">
            <button id="send">Send</button>
        </div>
    </section>
    <canvas id="game"></canvas>
</body>

</html>