<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/main.js" defer></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/media/icon.png" type="image/png">

    <title>Online Game</title>
</head>

<body>
    <section id="hud">
        <span>X: <span id="x"></span></span>
        <span>Y: <span id="y"></span></span>
    </section>
    <canvas id="game"></canvas>
</body>

</html>