html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    background-color: rgb(38, 38, 38);
    cursor: crosshair;
}

input,
button {
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
}

.ui {
    position: absolute;
    padding: 6px;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
}

#hud {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    flex-direction: row;
    justify-content: space-evenly;
}

#settings {
    bottom: 0;
    left: 0;
    flex-direction: column;
    gap: 5px;
    border-radius: 0 5px 0 0;
}

#mobile {
    bottom: 100px;
    left: 10px;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
}

#mobile button {
    font-size: 4vh;
    padding: 10px;
}

#chat {
    width: 35%;
    bottom: 0;
    right: 0;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px 0 0 0;
}

#chat div {
    display: flex;
    gap: 5px;
}

#chat #messages {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    overflow-y: hidden;
    max-height: 50vh;
    line-break: anywhere;
}

#chat input {
    width: 100%;
}

input[type="color"] {
    border: solid 1px black;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}